nextflow.enable.dsl=1

env {
  PYTHONNOUSERSITE = 1
}

manifest {
    mainScript = 'as_rnaseq.nf'
}
 
includeConfig "$baseDir/params.config"

profiles {
	local {
    	process {
   		 	container = 'biocorecrg/asrnaseq:0.3'
    		executor = 'local'
    		cpus = 1
    		memory = '7GB' 
    	}  
    } 
	standard {
		process {
 	       container = 'biocorecrg/asrnaseq:0.3'
    	 	queue='biocore-el7,long-sl7,short-sl7'
     		memory='12G'
     		cpus='1'
     		time='6h'
   			withLabel: long_mem {
            	 time='24h'
           	     memory='40G'
                 cpus='1'
        	}
       		withLabel: big_comp { 
    	        time='6h'
   				memory='60G'
   	 			cpus='8'
   	 		}
		} 
	}
}

singularity.cacheDir = "$baseDir/singularity"
//singularity.enabled = true
