manifest {
    mainScript = 'as_rnaseq.nf'
}
 
includeConfig "$baseDir/params.config"

process {
        container = 'biocorecrg/asrnaseq:0.1'
     	queue='biocore-el7,long-sl7,short-sl7'
     	memory='12G'
     	cpus='1'
     	time='6h'
   	
   	 withLabel: big_comp { 
   		queue='biocore-el7,long-sl7'
    	time='24h'
   		memory='60G'
   	 	cpus='8'
	} 
}
singularity.cacheDir = "$baseDir/singularity"
singularity.enabled = true
