manifest {
    mainScript = 'as_rnaseq.nf'
}
 
includeConfig "$baseDir/params.config"

process {
        container = 'biocorecrg/asrnaseq:0.2'
     	queue='biocore-el7,long-sl7,short-sl7'
     	memory='12G'
     	cpus='1'
     	time='6h'
   	withLabel: long_mem {
                time='24h'
                memory='40G'
                cpus='1'
        }
        withLabel: big_comp { 
    	        time='6h'
   		memory='60G'
   	 	cpus='8'
	} 
}
singularity.cacheDir = "$baseDir/singularity"
singularity.enabled = true
