params {

	reads        = "$baseDir/test_data/t{1,2}.fq"
	genomeA      = "$baseDir/test_data/mus.fa.gz"
	genomeB      = "$baseDir/test_data/cas.fa.gz"
	annotation   = "/users/mbeato/evidal/moritz/data/reference/annotation/gencode.vM19.chr_patch_hapl_scaff.annotation.gtf"
	output       = "$baseDir/output"
	single       = "NO"
	title	     = "Allele specific RNAseq project"	
	subtitle     = "This is my wonderful RNA experiment"	
	PI           = "Luca Cozzuto"	
	User	     = "Luca Cozzuto"
	UCSCgenomeID = "mm10"
	email	     = "luca.cozzuto@crg.eu"	

}
