params {

	reads        = "/test/*_read{1,2}.fastq.gz"
	genome       = "/users/bpayer/sequencing_analysis/pipe_data/Mus_musculus.GRCm38.68.dna.chrom.fa.gz"
	annotation   = "/users/bpayer/sequencing_analysis/pipe_data/Mus_musculus.GRCm38.68.gtf"
	strandness   = "reverse"
  indexfolder  = "./index"
  variants     = "/users/bpayer/sequencing_analysis/pipe_data/CAST_EiJ-129S1_SvImJ.vcf.gz"
  output       = "$baseDir/output_test"
	single       = "NO"
	varcut       = 1
  title	     = "Allele specific RNAseq project"	
	subtitle     = "This is my wonderful RNA experiment"	
	PI           = "Luca Cozzuto"	
	User	     = "Luca Cozzuto"
	UCSCgenomeID = "mm10"
	email	     = "mymail@mydomain.eu"	

}
