params {

	reads        = "$baseDir/test/*_{1,2}.fastq.gz"
	genome       = "$baseDir/test/GRCm38_68_19.fa.gz"
	annotation   = "$baseDir/test/Mus_musculus.GRCm38.68_19.gtf"
	strandness   = "reverse"
        indexfolder  = "$baseDir/index"
        variants     = "$baseDir/test/19_filt.vcf.gz"
        output       = "$baseDir/output_test"
	single       = "NO"
	varcut       = 0
        title	     = "Allele specific RNAseq project"	
	subtitle     = "This is my wonderful RNA experiment"	
	PI           = "Luca Cozzuto"	
	User	     = "Luca Cozzuto"
	UCSCgenomeID = "mm10"
	email	     = "mymail@mydomain.eu"	

}
