params {

	reads        = "$baseDir/test_data/t{1,2}.fq.gz"
	genome       = "$baseDir/test_data/GRCm38_68.fa"
	annotation   = "$baseDir/test_data/Mus_musculus.GRCm38.68.gtf"
	strandness   = "reverse"
        variants     = "$baseDir/test_data/Merged.vcf.gz"
        output       = "$baseDir/output"
	single       = "NO"
	title	     = "Allele specific RNAseq project"	
	subtitle     = "This is my wonderful RNA experiment"	
	PI           = "Luca Cozzuto"	
	User	     = "Luca Cozzuto"
	UCSCgenomeID = "mm10"
	email	     = "luca.cozzuto@crg.eu"	

}
