env {
  PYTHONNOUSERSITE = 1
}

manifest {
    mainScript = 'make_anno.nf'
}
 
includeConfig "$baseDir/params.config"

process {
        container = 'biocorecrg/asrnaseq:0.2'
     	queue='long-sl7,short-sl7'
     	memory='12G'
     	cpus='1'
     	time='6h'
   	withLabel: long_mem {
                time='24h'
                memory='40G'
                cpus='1'
        }
}
singularity.cacheDir = "$baseDir/../singularity"
singularity.enabled = true
