env {
  PYTHONNOUSERSITE = 1
}

manifest {
    mainScript = 'make_anno.nf'
}
 
includeConfig "$baseDir/params.config"

process {
        container = 'biocorecrg/asrnaseq:0.3'
     	queue='long-sl7,short-sl7'
     	memory='60G'
     	cpus='1'
     	time='6h'
}
singularity.cacheDir = "$baseDir/../singularity"
singularity.enabled = true
